<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>estimulo</display-name>
  <welcome-file-list>
    <welcome-file>/WEB-INF/jsp/loginform.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>sitemesh</filter-name>
    <filter-class>com.opensymphony.module.sitemesh.filter.PageFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sitemesh</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>main</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/main.properties</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>main</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>base</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/base.properties</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>base</servlet-name>
    <url-pattern>/base/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>authorityManager</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/authorityManager.properties</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>authorityManager</servlet-name>
    <url-pattern>/am/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>basicInfo</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/basicInfo.properties</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>basicInfo</servlet-name>
    <url-pattern>/basicInfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logisticsInfo</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/logisticsInfo.properties</param-value>
    </init-param>
    <load-on-startup>5</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>logisticsInfo</servlet-name>
    <url-pattern>/logisticsInfo/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>sales</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/sales.properties</param-value>
    </init-param>
    <load-on-startup>6</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>sales</servlet-name>
    <url-pattern>/sales/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>purchase</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/purchase.properties</param-value>
    </init-param>
    <load-on-startup>7</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>purchase</servlet-name>
    <url-pattern>/purchase/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>production</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/production.properties</param-value>
    </init-param>
    <load-on-startup>8</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>production</servlet-name>
    <url-pattern>/production/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>hr</servlet-name>
    <servlet-class>com.estimulo.common.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>configFile</param-name>
      <param-value>/WEB-INF/config/properties/hr.properties</param-value>
    </init-param>
    <load-on-startup>9</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>hr</servlet-name>
    <url-pattern>/hr/*</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>urlmappingFile</param-name>
    <param-value>/WEB-INF/config/properties/urlmapping.properties</param-value>
  </context-param>
  <context-param>
    <param-name>pathFile</param-name>
    <param-value>/WEB-INF/config/properties/path.properties</param-value>
  </context-param>
  <listener>
    <listener-class>com.estimulo.base.controller.SessionController</listener-class>
  </listener>
  <session-config>
        <session-timeout>60</session-timeout> 
    </session-config>
</web-app>